bplist00ß 

 !"#$%&'(#)*+,ZnoaudiooutUpath3Xaudiobuf\audiooutdev1YblocksizeYnoaudioin\standardpathUpath2_audiooutdevname1UflagsXcallbackWverbose[audioindev1XnomidiinUpath1UnpathXnloadlibXloadlib1TzoomXdefeatrtYnomidioutXaudioapi_audioindevname1TrateUFalse_P/Users/usdivad/Documents/music/live_performance_setups/pd_settings/pyext/scriptsQ5S0 2R64UFalseQ1_H/Users/usdivad/Documents/music/live_performance_setups/pd_settings/pyext_Built-in OutputPQ0S0 2TTrue_B/Users/usdivad/Documents/music/live_performance_setups/pd_settingsQ3_K/Users/usdivad/Documents/music/live_performance_setups/pd_settings/pyext/pyTTrueQ4_Built-in MicrophU44100