*.txt
*-bak
*.wav
*.aif
*.mp3
.DS_Store
*/.DS_Store
*/Samples/Processed/Freeze/
*.JPG
*.asd

sphack*
node_modules

*.pyc
*.pyo

lavandula/resources/*
lavandula/notes.txt
lavandula/data/*
!lavandula/data/.keep